@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Pangolin', cursive;
	scroll-behavior: smooth ;
}

body {
	margin: 0;
	background-color: #ffeeb8;
}

header, main, footer {
	width: 768px;
	margin: 16px auto;
	background-color: #ffc925;
	border-radius: 4px;
	padding: 16px;
	color: #222;
}

/* ниже добавь стили так, чтобы получилось как на образце в Инфоматиксе */
 

ul{
    list-style: none;
}

footer{
    text-align: center;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

header ul li a {
     color: #222;
     display: block;
     background-color: white;
     border-radius: 4px;
     border: 1px solid;
     padding:5px;
     margin: 4px 0;




}
main article{
    border-radius: 30px;
    padding: 16px;
    background-color: aqua;
    margin: 16px 0;
    border:10px solid #ffeeb8;
}