
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');
 
body{
    background-color: #61B7CF;
    font-family: "Jura; sans serif"
    color #025167 ;

}

header, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1024px;
    margin:16px auto;
    background-color: black;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    color: aliceblue;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1024px;
    margin:16px auto;
    background-color: rgba(200, 19, 216, 0.342);
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: "Jura; sans serif";

    


}
a:hover{
    cursor: pointer;
}

 



